/* unvisited link */

a {
  color: #42EEEE;
}

/* mouse over link */
a:hover {
  color: #FFDD00;
}

/* selected link */
a:active {
  color: orange;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
  text-align: center;
}

button {
  border-radius: 20px;
  box-shadow: 3px 3px 3px grey;
  background-color: lightblue;
  color: #008798;
  margin: 6px;
}

ol * ul {
    border: 1px solid lightblue;
    box-shadow: 3px 3px 5px lightblue;
    border-radius: 15px;
    margin: 5px;
}
