<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Your Flashcards</title>
</head>
<h1>Manage Flashcards</h1>
<body>
  <ol>
    <li class='cardsList' ng-repeat='card in cards'>
      <ul>
        <li>Category: {{card.category}}</li>
        <li>Question: {{card.quest}}</li>
        <li>Answer: {{card.ans}}</li>
        <div>
          <button type="button" ui-sref='edit({ id: card._id })'>Edit</button>
          <button type="button" ng-click='deleteCard(card)'>Delete</button>
        </div>
      </ul>
    </li>
  </ol>
</body>
</html>
